################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EasyWindows
/Debug
/EasyWindows/Debug
/EasyWindows/EasyWindows.vcxproj.filters
/EasyWindows/EasyWindows.vcxproj.user
/TestEasyWindows/Debug
/TestEasyWindows/TestEasyWindows.vcxproj.filters
/TestEasyWindows/TestEasyWindows.vcxproj.user
/EasyWindows/x64/Debug
/TestEasyWindows/x64/Debug
/.vscode
/x64/Debug
